<%- include('header') -%>
<%- include('navbar') -%>
<!-- Header above main section -->
<section>
    <div class="w3-container">
        <h3>Decks</h3>
        <form action="">
            <input class="" type="text" placeholder="Search.." name="search">
            <button class="w3-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <hr style="border-top: 1px solid black">
    </div>
    <!-- Main section with contents -->
    <div id="main section" class="w3-container">
        <% decklist.forEach( function(deck) { %>
            <!-- Subsection that represents one deck -->
            <div class="w3-row w3-border w3-hover-white">
                <!-- Deck's title -->
                <div class="title w3-col m6 l7 s12 w3-text-black w3-left">
                    <h5><%= deck.title %></h5>
                </div>
                <!-- Deck option bar -->
                <div class="w3-col m5 l3 s12 w3-right">
                    <!-- Buttons -->
                    <button class="w3-btn w3-black w3-hover-black">Download</button>
                    <button onclick="document.getElementById('id01').style.display='block'" class="w3-btn w3-black w3-hover-black">Details</button>
                    <button class="w3-btn w3-red"><i class="fa fa-trash"></i></button>
                    <button class="w3-btn w3-blue"><i class="fa fa-pencil"></i></button>
                    <!-- Details modal -->
                    <div id="id01" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('id01').style.display='none'"
                                      class="w3-button w3-display-topright">&times;</span>
                                <b><%= deck.title %></b>
                                <hr style="border-top: 1px solid black">
                                <%= deck.content %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of DECK -->
        <% }); %>
    </div>

<%- include('footer') -%>