<%- include('header') -%>
<!-- Navigational bar -->
<%- include('navbar') -%>
<!-- Header above main section -->
<section>
    <!-- Render error message if needed -->
    <% if (typeof message != 'undefined') { %>
        <% if (message == 'User not found') {%>
            <div class="w3-panel w3-red">
                <p><%= message %></p>
            </div>
        <%}%>
        <% if (message == 'Registration successful') {%>
            <div class="w3-panel w3-green">
                <p><%= message %></p>
            </div>
        <%}%>
        <% if (message == 'Registration unsuccessful') {%>
            <div class="w3-panel w3-red">
                <p><%= message %></p>
            </div>
        <%}%>
    <%}%>
    <!-- Main section with contents -->
    <div id="main section" class="w3-row">
        <!-- Section for the login form -->
        <div class="login w3-col s12 m6 l6">
            <form action="/login" method="post">
                <div class="w3-margin">
                    <h3>Log In to your account</h3>
                    <label for="email" class="w3-text-black">User name:</label>
                    <input id="email" class="w3-input" type="text" name="username" placeholder="User name ...">
                </div>

                <div class="w3-margin">
                    <label for="password" class="w3-text-black">Password:</label>
                    <input id="password" class="w3-input" type="text" name="password" placeholder="Password ...">
                </div>

                <div class="w3-margin">
                    <button type="submit" class="w3-btn w3-black w3-hover-black w3-left">Log In</button>
                    <a href="/send_reset" class="w3-right">Forgot your password?</a>
                </div>
            </form>
        </div>
        <!-- Section for the registration button -->
        <div class="reg w3-col s12 m4 l4 w3-right w3-margin w3-leftbar w3-border-black">
            <div class="w3-margin">
                <h3>Don't have an account yet?</h3>
                <a href="/register"><button class="w3-btn w3-black w3-hover-black">Register</button></a>
                <p>It's free and always will be</p>
            </div>
        </div>
    </div>

<%- include('footer') -%>